<!DOCTYPE html>
<html>
<head>
  <title>Exhibition</title>
  
</head>
<body style="background-color:lavender;">
<center><h1>For Love of History: Achieving and Undermining the Avant Garde</h1>
	<br>
    <h2>Barcelona,Spain</h2>
    <h2> Start Date - 2020-05-03 <br> End Date - 2020-05-06 </h2>

{% for i in range(z) %}
	 <img src="{{ url_for('static', filename=f[i][0]) }}" />
    <h3>{{ f[i][1] }}</h3>
    <h4>{{ f[i][2] }}</h4>
    <h4>{{ f[i][3] }}</h4>
    <h4>Cost - {{ f[i][4] }}</h4>
    <h4>ID - {{ f[i][5] }}</h4>
	<br>
	{% endfor %}

	<br><br>

	
	<h4>Enter the ID of the painting you would like to buy</h4>
	<form action="/bought" method="POST">
	<p><input type="text" name="num"></p>
        <p><input type="submit" value="Buy"></p>
        </form>
  
 
</center>


</body>
</html>
