<!DOCTYPE html>
<html>
	<title>Gal1</title>
<style>
a{
	text-decoration: none;
	color: #000000
}
</style>
<body style="background-color:azure;">
	<center><h1>Green Loyal Musee</h1><br>
	<img src={{url_for('static', filename='gal1.jpg')}}/>
	<h2>Nanjing,China</h2> <br>
	<p>ID - CN820</p> <br>
	<h1>Exhibitions</h1>
	<h2><a href='e1.html'>Archaeological Chemistry: A Retrospective of Misfortune </a></h2>
	<h2><a href='e2.html'>Decadent History: Defying Change </a></h2>
	</center>
</body>
</html>

	
