<!DOCTYPE html>
<html>
<head> <center> <h1>Welcome {{ cust_name[0] }}</h1><center>
<br />
<style>
a {
    color: #000000;
    text-decoration: none;
}
.bord{	
	box-sizing: content-box;  
  	width: 300px;
  	height: 220px;
  	padding: 20px;
	border-style: solid;
  	border-width: medium;
	border-radius: 8px;
	
}
.bord1{	
	box-sizing: content-box;  
  	width: 100px;
  	height: 20px;
  	padding: 20px;
	border-style: solid;
  	border-width: medium;
	border-radius: 8px;
	
}
</style>

 </head>



<body style="background-color:floralwhite;">
<div>
<center><h1>Galleries<br></h1>
  <div class="bord">
  <h3><a href="gal1.html">Green Loyal Musee</a></h3>
  <h3><a href="gal2.html">Art Unlimited Bungalow </a></h3>
  <h3><a href="gal3.html">October Air Archive</a></h3>
  <h3><a href="gal4.html">West Pit Gallery</a></h3>
  <h3><a href="gal5.html">Alter Arts Gallery</a></h3>
  </div>

</div>
<br />
<h2 class="bord1"><a href="artist.html">Artists</a></h2>
<br>
<h2 class="bord1"><a href="paintings.html">Paintings </a></h2>
<br>
<h2 class="bord1"><a href="customers.html">Customers </a></h2>
<br>
<h2 class="bord1"><a href="sales.html">Sales</a></h2>
<br>

<form action="/filter">
    <input type="submit" value="Filter" style="height:50px; width:70px">
</form>


</center>


</body>
</html>